<div class="py-5 bg-lighten-blue">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <h2 class="title">Fale Conosco</h2>

          <div class="card w-100 my-4">
            <div class="card-body d-flex flex-row align-items-start justify-content-between">
              <div>
                <h3>Tire suas dúvidas</h3>
                <p>Antes de entrar em contato conosco, certifique-se de sua dúvida já não está respondida na lista de questões frequentes.</p>
              </div>
              <a class="btn p-2" href="#">Enviar uma mensagem</a>
            </div>

            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel id="custom-panel-1">
                  <ng-template ngbPanelHeader let-opened="opened">
                      <div class="d-flex align-items-center justify-content-between">
                        <h5 class="m-1">1 – O que é a Chamada Escolar?</h5>
                        <button ngbPanelToggle class="btn p-2"><i class="la la-angle-down"></i></button>
                      </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="custom-panel-2">
                    <ng-template ngbPanelHeader let-opened="opened">
                        <div class="d-flex align-items-center justify-content-between">
                          <h5 class="m-1">2 - Quem deve fazer a Chamada Escolar?</h5>
                          <button ngbPanelToggle class="btn p-2"><i class="la la-angle-down"></i></button>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel id="custom-panel-3">
                      <ng-template ngbPanelHeader let-opened="opened">
                          <div class="d-flex align-items-center justify-content-between">
                            <h5 class="m-1">3 – Quem NÃO deve fazer a Chamada Escolar?</h5>
                            <button ngbPanelToggle class="btn p-2"><i class="la la-angle-down"></i></button>
                          </div>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="custom-panel-4">
                      <ng-template ngbPanelHeader let-opened="opened">
                          <div class="d-flex align-items-center justify-content-between">
                            <h5 class="m-1">4 – Qual a vantagem de realizar a Chamada Escolar?</h5>
                            <button ngbPanelToggle class="btn p-2"><i class="la la-angle-down"></i></button>
                          </div>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="custom-panel-5">
                      <ng-template ngbPanelHeader let-opened="opened">
                          <div class="d-flex align-items-center justify-content-between">
                            <h5 class="m-1">5 – A Chamada Escolar garante a vaga?</h5>
                            <button ngbPanelToggle class="btn p-2"><i class="la la-angle-down"></i></button>
                          </div>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="custom-panel-6">
                      <ng-template ngbPanelHeader let-opened="opened">
                          <div class="d-flex align-items-center justify-content-between">
                            <h5 class="m-1">6 – Como ocorrerá a Chamada Escolar 2020?</h5>
                            <button ngbPanelToggle class="btn p-2"><i class="la la-angle-down"></i></button>
                          </div>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
              </ngb-accordion>
          </div>
        </div>
    </div>
  </div>
