<section class="py-5" id="inscricoes">
  <div class="py-4 d-flex flex-column align-items-center justify-content-center">
    <h2 class="title">Inscrições</h2>
    <div class="row w-100">
      <div class="col-sm-6 col-lg-3 col-12">
        <div class="card indicators indicators-addpre text-white">
          <div class="card-body">
            <h4>FAÇA SUA PRÉ-MATRÍCULA</h4>
            <h6>Somente quem fez a Chamada Escolar</h6>
          </div>
          <a href="#asd" class="card-footer d-flex flex-row justify-content-center align-items-center">
            Clique aqui
            <i class="ml-2 la la-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 col-12">
        <div class="card indicators indicators-addpos text-white">
          <div class="card-body">
            <h4>FAÇA SUA PRÉ-MATRÍCULA</h4>
            <h6>Para os que não realizaram a Chamada Escolar</h6>
          </div>
          <a href="#asd" class="card-footer d-flex flex-row justify-content-center align-items-center">
            Clique aqui
            <i class="ml-2 la la-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 col-12">
        <div class="card indicators indicators-search text-white">
          <div class="card-body">
            <h4>CONSULTAR PRÉ-MATRÍCULA </h4>
            <h6>Consulte aqui a pré-matrícula</h6>
          </div>
          <a href="#asd" class="card-footer d-flex flex-row justify-content-center align-items-center">
            Clique aqui
            <i class="ml-2 la la-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 col-12">
        <div class="card indicators indicators-ban text-white">
          <div class="card-body">
            <h4>CANCELAR PRÉ-MATRÍCULA </h4>
            <h6>Cancele aqui sua pré-matrícula</h6>
          </div>
          <a href="#asd" class="card-footer d-flex flex-row justify-content-center align-items-center">
            Clique aqui
            <i class="ml-2 la la-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
