<section id="calendario" class="py-5 bg-gray">
  <div class="py-4 container">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h2 class="title">Calendário</h2>

      <div id="timeline">
        <div class="timeline-item">
          <div class="timeline-icon">
              <i class="la la-calendar-check"></i>
          </div>
          <div class="timeline-content">
              <h2>Pré-matrícula para os que realizaram a chamada escolar 2018</h2>
              <p>
                Ensino Médio (EJA Médio 1ª e 2ª Etapa)<br/>
                De <span style="color: #284e95">07 de Janeiro de 2019</span> até <span style="color: #284e95">09 de Janeiro de 2019</span>.
              </p>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-icon">
                <i class="la la-calendar-check"></i>
            </div>
            <div class="timeline-content right">
              <h2>Matrícula na unidade escolar pretendida</h2>
              <p>
                Ensino Médio (EJA Médio 1ª e 2ª Etapa) <br/>
                De <span style="color: #284e95">08 de Janeiro de 2019</span> até <span style="color: #284e95">10 de Janeiro de 2018</span>.
              </p>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-icon">
                <i class="la la-calendar-check"></i>
            </div>
            <div class="timeline-content">
                <h2>Pré-matrícula para os que realizaram a chamada escolar 2018</h2>
                <p>
                  Educação infantil, Ensino Fundamental (1º ao 9º ano) e EJA (1ª, 2ª, 3ª e 4ª Etapa).
                  <br/>De <span style="color: #284e95">16 de Janeiro de 2019</span> até <span style="color: #284e95">18 de Janeiro de 2019</span>
                </p>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-icon">
                <i class="la la-calendar-check"></i>
            </div>
            <div class="timeline-content right">
                <h2>Pré-matrícula para os que realizaram a chamada escolar 2018</h2>
                <p>
                  Pré-matrícula (Ensino Médio, EJA Médio 1ª e 2ª Etapa)<br/>
                  De <span style="color: #284e95">07 de Janeiro de 2019</span> até <span style="color: #284e95">09 de Janeiro de 2019</span>.
                </p>
              </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-icon">
                <i class="la la-calendar-check"></i>
            </div>
            <div class="timeline-content">
                <h2>Pré-matrícula para os que realizaram a chamada escolar 2018</h2>
                <p>
                  Ensino Médio (EJA Médio 1ª e 2ª Etapa)<br/>
                  De <span style="color: #284e95">07 de Janeiro de 2019</span> até <span style="color: #284e95">09 de Janeiro de 2019</span>.
                </p>
              </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-icon">
                <i class="la la-calendar-check"></i>
            </div>
            <div class="timeline-content right">
                <h2>Pré-matrícula para os que realizaram a chamada escolar 2018</h2>
                <p>
                  Ensino Médio (EJA Médio 1ª e 2ª Etapa)<br/>
                  De <span style="color: #284e95">07 de Janeiro de 2019</span> até <span style="color: #284e95">09 de Janeiro de 2019</span>.
                </p>
              </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-icon">
                <i class="la la-calendar-check"></i>
            </div>
            <div class="timeline-content">
                <h2>Pré-matrícula para os que realizaram a chamada escolar 2018</h2>
                <p>
                  Ensino Médio (EJA Médio 1ª e 2ª Etapa)<br/>
                  De <span style="color: #284e95">07 de Janeiro de 2019</span> até <span style="color: #284e95">09 de Janeiro de 2019</span>.
                </p>
              </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-icon">
                <i class="la la-calendar-check"></i>
            </div>
            <div class="timeline-content right">
                <h2>Pré-matrícula para os que realizaram a chamada escolar 2018</h2>
                <p>
                  Ensino Médio (EJA Médio 1ª e 2ª Etapa)<br/>
                  De <span style="color: #284e95">07 de Janeiro de 2019</span> até <span style="color: #284e95">09 de Janeiro de 2019</span>.
                </p>
              </div>
          </div>
    </div>
  </div>
</div>
</section>
