.bg-gray{
  background-color: #f4f4f4;
}

// Timeline

$primary-color: #284e95;

%clearfix {
	&:after, &:before {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
}

#timeline {
	width: 100%;
  margin: 30px auto;
	position: relative;
  padding: 0 10px;

	&:before {
		content:"";
		width: 3px;
		height: 100%;
		background: $primary-color;
		left: 50%;
		top: 0;
		position: absolute;
	}

	&:after {
		content: "";
		clear: both;
		display: table;
		width: 100%;
	}

	.timeline-item {
		margin-bottom: 50px;
    position: relative;
    @extend %clearfix;

		.timeline-icon {
			background: $primary-color;
			width: 50px;
			height: 50px;
			position: absolute;
			top: 0;
			left: 50%;
			overflow: hidden;
			margin-left: -23px;
			border-radius: 50%;

			i {
				position: relative;
        top: 8px;
        left: 9px;
        color: white;
        font-size: 2rem;
			}
		}

		.timeline-content {
			width: 45%;
			background: #fff;
			padding: 20px;
			box-shadow: 0 3px 0 rgba(0,0,0,0.1);
			border-radius: 5px;

			h2 {
				padding: 15px;
				background: $primary-color;
				color: #fff;
				margin: -20px -20px 0 -20px;
				font-weight: 300;
        border-radius: 3px 3px 0 0;
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }

			&:before {
				content: '';
				position: absolute;
				left: 45%;
				top: 20px;
				width: 0;
				height: 0;
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
				border-left:7px solid $primary-color;
			}

			&.right {
				float: right;

				&:before {
					content: '';
					right: 45%;
					left: inherit;
					border-left: 0;
					border-right: 7px solid $primary-color;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#timeline {
		margin: 30px;
		padding: 0px;
    width: 90%;
		&:before {
			left: 0;
		}

		.timeline-item {
			.timeline-content {
				width: 88%;
				float: right;

				&:before, &.right:before {
					left: 10%;
					border-left: 0;
					border-right: 7px solid $primary-color;
				}
			}

			.timeline-icon {
				left: 0;
			}
		}
	}
}
